---
# Simulate network device running config collection
- name: Collect some information
  ansible.builtin.shell: "date && ls -al"
  register: config_output
  when: _date_ == true

- name: Save the data to a temporary config store
  ansible.builtin.copy:
    content: "{{ config_output['stdout'] }}"
    dest: "{{ _tmp-file_ }}"
  delegate_to: localhost
