---
# Simulate network device running config collection
- name: Print dates
  ansible.builtin.debug:
    msg:
      - "date : {{ ansible_date_time['date'] }}"
      - "time : {{ ansible_date_time['time'] }}"

- name: Debug distribution and version
  ansible.builtin.debug:
    msg:
      - "distribution : {{ ansible_distribution }}"
      - "distribution_major_version : {{ ansible_distribution_major_version }}"
      
- name: Collect some information
  ansible.builtin.shell: "date && ls -al"
  register: config_output
  when: _date_ == true

- name: Save the data to a temporary config store
  ansible.builtin.copy:
    content: "{{ config_output['stdout'] }}"
    dest: "{{ _tmp_file_ }}"
  delegate_to: localhost
